@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
    --myFont: 'Roboto', sans-serif;
    --primary-clr: rgb(135, 206, 235), skyblue;
    --secondary-clr: rgb(255, 0, 255), magenta;
    --my-font: 1em;
}
body {
    display: grid;
    grid-template-areas: 
            "header header" 
            "sidebar main"
            "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 350px 1fr;
    height: 100vh;        
}
header {
    grid-area: header;
}
.head-con > .logo {
    height: 10vh;
    max-height: 50px;
    width: auto;
    max-width: 100%;
}
aside {
    grid-area: sidebar;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    padding: 10px;
}

.products-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.grid-con {
    display: grid;
    grid-template-areas: "low-stock" "review";
    grid-template-rows: auto;
    gap: 10px;
}
.low-stock {
    grid-area: low-stock;
    grid-row: 2 / 3;
}
.review {
    grid-area: review;
    grid-row: 3 / 4;
}
.low > img {
    height: auto;
    max-height: 50px;
    width: 100%;
    max-width: 50px;
    object-fit: cover;  
}
.cards > img {
    height: auto;
    max-height: 200px;
    width: 100%;
    max-width: 250px;
    object-fit: cover;
}

footer {
    grid-area: footer;
}
nav input {
    height: 30px;
    padding: 5px;
    margin: 0;
    margin-right: 50%;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 14px;
    flex: 0 1 auto;
}